ALTER TABLE users ADD COLUMN IF NOT EXISTS full_name text, ADD COLUMN IF NOT EXISTS default_tone text DEFAULT 'Professional', ADD COLUMN IF NOT EXISTS last_synced_at timestamptz;
-- Add columns for Account and Preferences
ALTER TABLE users ADD COLUMN full_name text;
ALTER TABLE users ADD COLUMN default_tone text DEFAULT 'Professional';
ALTER TABLE users ADD COLUMN last_synced_at timestamptz;

-- Function to safely delete an authenticated user
CREATE OR REPLACE FUNCTION delete_user()
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
BEGIN
  -- Explicitly delete from public.users
  DELETE FROM public.users WHERE supabase_user_id = auth.uid();
  -- Delete from auth.users
  DELETE FROM auth.users WHERE id = auth.uid();
END;
\$\$;

